/* Details.module.css */

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.textWithRect {
  display: flex;
  align-items: center;
  flex: 1;
}

.rect {
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

.text {
  font-size: 12px;
  margin: 0;
  flex-grow: 1;
  word-wrap: break-word;
}
  