.container {
  position: relative;
  right: 10%;
  width: 110%;
  top: 70px;
  height: auto;
  max-height: 100vh; 
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  border-radius: 3px;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.svg {
  width: 100%;
  height: auto;
  max-height: 100vh;
  display: block;
  /* transform: scale(1.1); */
}

.textBox {
  font-size: 10px;
  background-color: transparent;
  color: #ffffff;
}

.buttonBox {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.buttonBox:hover {
  background-color: #0056b3;
}

.buttonBox:active {
  background-color: #003d80;
}
