.container {
  position: relative;
  width: 700px;
  height: 400px;
}

.svgImage {
  width: 700px;
  height: 380px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 380px;
}

.circle {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white !important;
}

.circleText {
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

.line {
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: orange;
}
