.tableContainer {
    background-color: #2d2d32;
    overflow-x: auto;
    /* overflow-y: auto; */
    padding: 16px;
    border-radius: 8px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff;
    font-size: 12px;
    border-bottom: 2px solid #ffffff;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  th {
    position: sticky;
    background-color: #50505a;
  }
  
  tr {
    cursor: pointer;
  }
  
  tr:hover {
    background-color: #44444a !important; /* Change hover color to a lighter gray */
  }
  
  tr:nth-child(even) {
    background-color: #3a3a3a;
  }
  
  tr:nth-child(odd) {
    background-color: #2d2d32;
  }
  
  td {
    border-bottom: 1px solid #3a3a3a;
  }
  