.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.svgImage {
  width: 100%;
  height: auto;
}

.circle {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white !important;
}

.circleText {
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

.line {
  position: absolute;
  width: 300px;
  height: 2px;
  background-color: orange;
}
