.boxContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background-color: #50505a;
  width: 60px;
  min-height: 70px;
  height: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: white;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}

.boxText {
  font-size: 10px;
  margin: 2px 0;
  white-space: pre-line;
  text-align: center;
}

.boxNumber {
  width: 60px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
}