.container {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #3a3a3a;
    color: white;
    border: 1px solid #50505a;
    padding: 5px;
    border-radius: 3px;
    min-width: 180px;
  }
  
  .iconContainer {
    background-color: #50505a;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-right: 1px solid #3a3a3a;
  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
  
  .label {
    flex-grow: 1;
    font-size: 12px;
  }
  
  .value {
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
  }
  